body {
    font-size: 20px;
}

.logo {
    font-size: 40px;
    font-family: Consolas;
    text-transform: uppercase;
    font-weight: bold;

    position: absolute;
    width: 260px;
    left: 0;
    right: 0;
    top: 20px;
}
.wrapper {
    margin-top: 80px;
    padding: 20px;
}

#game.name .status-name {
    display: block;
}
#game.waiting .status-waiting {
    display: block;
}
#game.starting .status-starting {
    display: block;
}
#game.in-progress .status-in-progress {
    display: block;
}
#game.lost-connection .status-lost-connection {
    display: block;
}

.user-status-change {
    position: absolute;
    height: 50px;
    top: 20px;
    right: 20px;
    font-size: 0.8em;
    display: none;
}

.status {
    margin-top: 10%;
    display: none;
}

.status-name {
    width: 300px;
    text-align: center;
}
.status-name button[type="submit"] {
    margin-top: 20px;
}

.status-waiting {
    width: 240px;
}

.status-starting {
    width: 260px;
    position: relative;
    bottom: 5px;
}
.status-starting .starting-time {
    font-size: 1.6em;
    position: relative;
    left: 10px;
    top: 5px;
}

.status-in-progress {
    margin-top: 4%;
    width: 800px;
    text-align: center;
}
.status-in-progress .info-placeholder {
    padding-top: 6%;
}
.status-in-progress .game-data {
    text-align: left;
}
.status-in-progress .game-canvas {
    margin-top: 8px;
    width: 630px;
    float: left;
    text-align: center;
}
.status-in-progress .game-word ul {
    margin: 0;
    padding: 0;
}
.status-in-progress .game-word li {
    display: inline-block;
    text-transform: uppercase;
    padding: 2px 4px;
    margin: 0 2px;
    border: 1px solid #ccc;
}
.status-in-progress .game-input .input-group {
    margin-top: 50px;
    width: 300px;
}

.status-in-progress .game-score {
    font-size: 0.8em;
    width: 150px;
    float: right;
}
.status-in-progress .game-time {
    margin-left: 5px;
    margin-bottom: 10px;
}

.status-lost-connection {
    width: 190px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}


